* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navbar {
    display: inline-block;
}

.logo {
    width: 200px;
    height: 100px;
    margin-left: 10px;
    position: absolute;
}

.menu {
    position: relative;
    left: 250px;
    bottom: 20px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
}

.menu__item {
    display: inline-block;
    padding: 2.5rem;
}

header {
    background-image: url(../assets/images/ferrefondito.jpg);
    height: 11vh;
    margin-top: 2px;
}

.menu__link {
    color: #AB3900;
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
    font-weight: bold;
}

.main__index {
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
}

.carousel-inner {
    width: 1300px;
    height: 600px;
    padding-left: 370px;
}

#carouselExampleControls {
    padding-bottom: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(108%)
}

.titulo--uno:hover {
    transform: scale(1.5);
}

.titulo__uno {
    text-align: center;
    font-size: 55px;
    font-weight: 100px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 15px;
    color: #0c364f;
    font-weight: bold;
}

.main__productos {
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
    text-align: center;
    font-size: 43px;
    font-weight: 800 bold;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 41px;
    padding-bottom: 40px;
    color: #b71f0e;
    padding: 3rem;
}

.imagenes__clavos {
    margin-top: 2rem;
    display: inline-flex
}

.puntaparis__dospulgadas {
    margin-right: 35px;
}

.puntaparis__trespulgadas {
    height: 180px;
    width: 300px;
    margin-left: 40px;
    margin-right: 40px;
}

.espiralados__trespulgadas {
    width: 300px;
    height: 180px;
}

.clavos {
    color: #b71f0e;
}

.puntaparisdos {
    float: left;
    padding-left: 160px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.puntaparisdosymedio {
    float: left;
    padding-left: 75px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.puntaparistres {
    float: left;
    padding-left: 90px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.espiraladostres {
    float: right;
    padding-right: 160px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.titulouno__productos {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #0c364f;
}

.titulouno__productos:hover {
    transform: scale(1.5);
}

.titulodos__productos {
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #0c364f;
}

.titulodos__productos:hover {
    transform: scale(1.5);
}

.cardsclavos{
    display: flex;
}
.cardsalambres{
    display: flex;
    position: relative;
}

.titulos_alambres {
    display: flex;
}
.clavosuno{
    padding-left: 250px;
}
.clavosdos{
    padding-left: 100px;
}
.clavostres{
    padding-left: 100px;
}

.alambresuno{
    padding-left: 250px;
}
.alambresdos{
    padding-left: 100px;
}
.alambrestres{
    padding-left: 100px;
}

.card-text{
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0c364f;
}
.main__contacto {
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
    display: flex;
    position: relative;
}

.contacto_formulario {
    height: 200px;
    width: 200px;
    display: flex;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-left: 350px;
}

.padre__ {
    display: inline-flex;
}

.form__contacto {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 50px;
    position: absolute;
    margin-left: 80px;
    color: #0c364f;
}
.form__contacto:hover{
    transform: scale(1.5);
}

.nombreyapellido {
    padding-top: 100px;
    padding-bottom: 15px;
}

.email_correo {
    padding-bottom: 15px;
}

.mapa__ {
    padding-left: 150px;
}

.imagenmapa {
    height: 470px;
    width: 460px;
}

.estamosaqui {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: #0c364f;
}
.estamosaqui:hover {
    transform: scale(1.5);
}

.direccion {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 100px;
}

.contacto__celular {
    display: inline-table;
    position: relative;
    padding-top: 650px;
}

.numerocelular {
    margin-top: 670px;
    padding-bottom: 60px;
    padding-right: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #0c364f;
    font-weight: bold;
}

.emailcontacto {
    margin-top: 670px;
    padding-right: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #0c364f;
    font-weight: bold;
}

.direccionlocalidad {
    margin-top: 670px;
    padding-right: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #0c364f;
    font-weight: bold;
}

.horariodeatencion {
    margin-top: 670px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #0c364f;
    font-weight: bold;
}

.main__clientes {
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
}

.opinionesclientes {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #b71f0e;
    text-align: center;
    padding-top: 50px;
}

.imagen__usuarios {
    margin-top: 2rem;
    display: inline-flex
}

.usuariouno {
    margin-right: 180px;
    padding-left: 100px;
}

.usuariodos {
    height: 250px;
    width: 225px;
    margin-left: 40px;
    margin-right: 140px;
}

.usuariotres {
    width: 225px;
    height: 250px;
    margin-left: 40px;
    margin-right: 140px;
}

.usuariocuatro {
    width: 225px;
    height: 250px;
    margin-left: 40px;
    margin-right: 40px;
}

.opiniones__usuarios {
    display: inline-flex;
}

.opinion__uno {
    background-color: #0c364f;
    color: aliceblue;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 50px;
}

.opinion__dos {
    background-color: #0c364f;
    color: aliceblue;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 50px;
}

.opinion__tres {
    background-color: #0c364f;
    color: aliceblue;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 50px;
}

.opinion__cuatro {
    background-color: #0c364f;
    color: aliceblue;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 50px;
}

.valoracion {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #b71f0e;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 67px;
}

.label__uno {
    color: #0c364f;
}

.label__dos {
    color: #0c364f;
}

.label__tres {
    color: #0c364f;
}

.label__cuatro {
    color: #0c364f;
}

.label__cinco {
    color: #0c364f;
}

.main__marcas {
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
}

.container_cards {
    display: flex;
    padding-bottom: 50px;
    text-align: center;
    padding-left: 400px;
}

.cardos {
    padding-left: 300px;
}

.nuestras_marcas {
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #0c364f;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nuestras_marcas:hover {
    transform: scale(1.5);
}

footer {
    background-image: url(../assets/images/ferrefondito.jpg);
    text-align: center;
}

.footer--div {
    padding-top: 5px;
}

.footer__titulo {
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #AB3900;
    display: inline-block;
    background-color: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
}

.footer__link {
    display: inline-block;
    font-size: large;
}

.footer__item {
    color: #AB3900;
    background-color: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}