footer {
    background-image: url(../assets/images/ferrefondito.jpg);
    text-align: center;

    .footer--div {
        padding-top: 5px;
    }

    .footer__titulo {
        text-align: center;
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: black;
        display: inline-block;
        background-color: rgb(241, 236, 185);
        background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
    }

    .footer__link {
        display: inline-block;
        font-size: large;
    }

    .footer__item {
        color: black;
        background-color: rgb(241, 236, 185);
        background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }
}