* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.logo-logo {
    width: 300px;
    height: 100px;
    justify-content: end;
    margin-right: 50px;
}

.navbar-expand-lg {
    justify-content: center;
    background-image: url(../assets/images/ferrefondito.jpg);
}

.navbar-toggler {
    filter: invert(108%)
}

.nav-nav {
    font-size: 25px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
    font-weight: bold;
}

.header {
    background-image: url(../assets/images/ferrefondito.jpg);
}

.main__index {
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
}

#carouselExampleControls {
    padding-bottom: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(108%)
}

.titulo--uno:hover {
    transform: scale(1.5);
}

.titulo__uno {
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-weight: 100px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 15px;
    color: #0c364f;
    font-weight: bold;
}

.main__productos {
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
    text-align: center;
    font-size: 43px;
    font-weight: 800 bold;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 41px;
    padding-bottom: 40px;
    color: #b71f0e;
    padding: 3rem;
}

.imagenes__clavos {
    margin-top: 2rem;
    display: inline-flex
}

.puntaparis__dospulgadas {
    margin-right: 35px;
}

.puntaparis__trespulgadas {
    height: 180px;
    width: 300px;
    margin-left: 40px;
    margin-right: 40px;
}

.espiralados__trespulgadas {
    width: 300px;
    height: 180px;
}

.clavos {
    color: #b71f0e;
}

.puntaparisdos {
    float: left;
    padding-left: 160px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.puntaparisdosymedio {
    float: left;
    padding-left: 75px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.puntaparistres {
    float: left;
    padding-left: 90px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.espiraladostres {
    float: right;
    padding-right: 160px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.titulouno__productos {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #0c364f;
}

.titulouno__productos:hover {
    transform: scale(1.5);
}

.titulodos__productos {
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #0c364f;
}

.titulodos__productos:hover {
    transform: scale(1.5);
}

.cardsclavos {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.cardsalambres {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.titulos_alambres {
    display: flex;
}

.card-text {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0c364f;
}

.main__contacto {
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
    display: flex;
    position: relative;
}

.contacto_formulario {
    height: 200px;
    width: 200px;
    display: flex;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-left: 350px;
}

.padre__ {
    display: inline-flex;
}

.form__contacto {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 50px;
    position: absolute;
    margin-left: 80px;
    color: #0c364f;
}

.form__contacto:hover {
    transform: scale(1.5);
}

.nombreyapellido {
    padding-top: 100px;
    padding-bottom: 15px;
}

.email_correo {
    padding-bottom: 15px;
}

.mapa__ {
    padding-left: 150px;
}

.imagenmapa {
    height: 470px;
    width: 460px;
}

.estamosaqui {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: #0c364f;
}

.estamosaqui:hover {
    transform: scale(1.5);
}

.direccion {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 100px;
}

.contacto__celular {
    display: inline-table;
    position: relative;
    padding-top: 650px;
}

.numerocelular {
    margin-top: 670px;
    padding-bottom: 60px;
    padding-right: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #0c364f;
    font-weight: bold;
}

.emailcontacto {
    margin-top: 670px;
    padding-right: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #0c364f;
    font-weight: bold;
}

.direccionlocalidad {
    margin-top: 670px;
    padding-right: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #0c364f;
    font-weight: bold;
}

.horariodeatencion {
    margin-top: 670px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #0c364f;
    font-weight: bold;
}

.main__clientes {
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
}

.opinionesclientes {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #b71f0e;
    text-align: center;
    padding-top: 50px;
}

.imagen__usuarios {
    margin-top: 2rem;
    display: inline-flex
}

.usuariouno {
    margin-right: 180px;
    padding-left: 100px;
}

.usuariodos {
    height: 250px;
    width: 225px;
    margin-left: 40px;
    margin-right: 140px;
}

.usuariotres {
    width: 225px;
    height: 250px;
    margin-left: 40px;
    margin-right: 140px;
}

.usuariocuatro {
    width: 225px;
    height: 250px;
    margin-left: 40px;
    margin-right: 40px;
}

.opiniones__usuarios {
    display: inline-flex;
}

.opinion__uno {
    background-color: #0c364f;
    color: aliceblue;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 50px;
}

.opinion__dos {
    background-color: #0c364f;
    color: aliceblue;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 50px;
}

.opinion__tres {
    background-color: #0c364f;
    color: aliceblue;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 50px;
}

.opinion__cuatro {
    background-color: #0c364f;
    color: aliceblue;
    font-size: 27px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 50px;
}

.valoracion {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #b71f0e;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 67px;
}

.label__uno {
    color: #0c364f;
}

.label__dos {
    color: #0c364f;
}

.label__tres {
    color: #0c364f;
}

.label__cuatro {
    color: #0c364f;
}

.label__cinco {
    color: #0c364f;
}

.main__marcas {
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
}

.container_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
    justify-content: center;
}

.cardos {
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
    justify-content: center;
}

.nuestras_marcas {
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #0c364f;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nuestras_marcas:hover {
    transform: scale(1.5);
}

footer {
    background-image: url(../assets/images/ferrefondito.jpg);
    text-align: center;
}

.footer--div {
    padding-top: 5px;
}

.footer__titulo {
    text-align: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    display: inline-block;
    background-color: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
}

.footer__link {
    display: inline-block;
    font-size: large;
}

.footer__item {
    color: black;
    background-color: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {
    .titulo__uno {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .nuestras_marcas {
        font-size: 35px;
    }
}

@media screen and (max-width: 600px) {
    .titulo__uno {
        font-size: 20px;
    }
}

@media screen and (max-width: 583px) {
    .nuestras_marcas {
        font-size: 25px;
    }
}

@media screen and (max-width: 480px) {
    .nuestras_marcas {
        font-size: 20px;
    }
}

@media screen and (max-width: 360px) {
    .titulo__uno {
        font-size: 15px;
    }

    .cardsclavos {
        font-size: 10px;
    }

    .cardsalambres {
        font-size: 10px;
    }

    .nuestras_marcas {
        font-size: 35px;
    }
}

@media screen and (max-width: 320px) {
    .titulouno__productos {
        font-size: 40px;
    }

    .titulodos__productos {
        font-size: 30px;
    }
}

<div class="imagen__usuarios">
<img class="usuariouno" src="../images/usuario.png" alt="">
<img class="usuariodos" src="../images/usuario.png" alt="">
<img class="usuariotres" src="../images/usuario.png" alt="">
<img class="usuariocuatro" src="../images/usuario.png" alt="">
</div>
<div class="opiniones__usuarios">
<p class="opinion__uno">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo iure inventore nobis sit.
   Ex quisquam, velit</p>
<p class="opinion__dos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ad sunt molestias porro
   culpa quo!
   ullam.</p>
<p class="opinion__tres">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur corrupti modi
   accusantium.</p>
<p class="opinion__cuatro">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, sequi odit.
   Officiis a.</p>
</div>


.main__contacto {
    background: rgb(241, 236, 185);
    background: radial-gradient(circle, rgba(241, 236, 185, 1) 0%, rgba(212, 196, 142, 1) 31%, rgba(214, 186, 126, 1) 100%);
    display: flex;
    position: relative;


    .contacto_formulario {
        height: 200px;
        width: 200px;
        display: flex;
        font-size: x-large;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        padding-left: 350px;
    }

    .padre__ {
        display: inline-flex;
    }

    .form__contacto {
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        padding-top: 50px;
        position: absolute;
        margin-left: 80px;
        color: #0c364f;
    }

    .form__contacto:hover {
        transform: scale(1.5);
    }

    .nombreyapellido {
        padding-top: 100px;
        padding-bottom: 15px;
    }

    .email_correo {
        padding-bottom: 15px;
    }

    .mapa__ {
        padding-left: 150px;
    }

    .imagenmapa {
        height: 470px;
        width: 460px;
    }

    .estamosaqui {
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 10px;
        padding-left: 5px;
        color: #0c364f;
    }

    .estamosaqui:hover {
        transform: scale(1.5);
    }

    .direccion {
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        padding-top: 100px;
    }

    .contacto__celular {
        display: inline-table;
        position: relative;
        padding-top: 650px;
    }

    .numerocelular {
        margin-top: 670px;
        padding-bottom: 60px;
        padding-right: 1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        color: #0c364f;
        font-weight: bold;
    }

    .emailcontacto {
        margin-top: 670px;
        padding-right: 1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        color: #0c364f;
        font-weight: bold;
    }

    .direccionlocalidad {
        margin-top: 670px;
        padding-right: 1rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        color: #0c364f;
        font-weight: bold;
    }

    .horariodeatencion {
        margin-top: 670px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        color: #0c364f;
        font-weight: bold;
    }

}
